<div class="header">
    <div class="row">
        <div class="col-sm-4">
            <img class="logo"
                src="https://res-5.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/v1397188576/267f5f6980e462c89af38b89c5d0a353.jpg" />
        </div>
        <div class="col-sm-8">
            <!-- <div>
                <ul class="menues">
                    <li>Angular Task</li>
                    <li>Node Task</li>
                </ul>
            </div> -->
        </div>
    </div>
</div>